// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import * as MemoriesAPI from '../memories';
import * as ActionsAPI from './actions';
import { ActionAcknowledgeParams, Actions } from './actions';
import * as RunsAPI from '../runs/runs';
import { APIPromise } from '../../../core/api-promise';
import { DefaultCursorPage, type DefaultCursorPageParams, PagePromise } from '../../../core/pagination';
import { RequestOptions } from '../../../internal/request-options';
import { path } from '../../../internal/utils/path';

/**
 * List, retrieve, and acknowledge agent alerts.
 */
export class Alerts extends APIResource {
  actions: ActionsAPI.Actions = new ActionsAPI.Actions(this._client);

  /**
   * Returns a single agent alert by ID.
   *
   * @example
   * ```ts
   * const agentAlert = await client.ai.alerts.retrieve('id');
   * ```
   */
  retrieve(
    id: string,
    query: AlertRetrieveParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<AgentAlert> {
    return this._client.get(path`/v1/ai/alerts/${id}`, { query, ...options });
  }

  /**
   * Returns a paginated list of agent alerts for the current account.
   *
   * @example
   * ```ts
   * // Automatically fetches more pages as needed.
   * for await (const agentAlert of client.ai.alerts.list()) {
   *   // ...
   * }
   * ```
   */
  list(
    query: AlertListParams | null | undefined = {},
    options?: RequestOptions,
  ): PagePromise<AgentAlertsDefaultCursorPage, AgentAlert> {
    return this._client.getAPIList('/v1/ai/alerts', DefaultCursorPage<AgentAlert>, { query, ...options });
  }
}

export type AgentAlertsDefaultCursorPage = DefaultCursorPage<AgentAlert>;

/**
 * AgentAction represents a single action performed during an agent run.
 */
export interface AgentAction {
  /**
   * The unique identifier for the action.
   */
  id: string;

  /**
   * When this action was created.
   */
  created_at: string;

  /**
   * A description of what the action does.
   */
  description: string | null;

  /**
   * Entity represents an entity in the system.
   */
  entity: MemoriesAPI.Entity | null;

  /**
   * Error message if the action failed.
   */
  error_message: string | null;

  /**
   * When the action was executed.
   */
  executed_at: string | null;

  /**
   * The input to the action.
   */
  input: Array<unknown>;

  /**
   * A short label for the action.
   */
  label: string | null;

  /**
   * The resource type identifier.
   */
  object: 'agent_action';

  /**
   * The output from the action.
   */
  output: Array<unknown>;

  /**
   * Whether this action requires human review.
   */
  requires_review: boolean;

  /**
   * When the action was reviewed.
   */
  reviewed_at: string | null;

  /**
   * LightActor is a lightweight reference to an actor (user, API key, or agent).
   */
  reviewed_by: LightActor | null;

  /**
   * LightAgentRun is a lightweight reference to an agent run.
   */
  run: AgentAction.Run | null;

  /**
   * The current status of this action.
   */
  status: 'pending_review' | 'auto_approved' | 'approved' | 'rejected' | 'executed' | 'failed';

  /**
   * The tool slug identifier.
   */
  tool_slug: string;

  /**
   * When this action was last updated.
   */
  updated_at: string;
}

export namespace AgentAction {
  /**
   * LightAgentRun is a lightweight reference to an agent run.
   */
  export interface Run {
    /**
     * The unique identifier for the agent run.
     */
    id: string;

    /**
     * The resource type identifier.
     */
    object: 'agent_run';
  }
}

/**
 * AgentAlert represents an alert generated by an agent.
 */
export interface AgentAlert {
  /**
   * The unique identifier for the alert.
   */
  id: string;

  /**
   * When the alert was acknowledged.
   */
  acknowledged_at: string | null;

  /**
   * LightActor is a lightweight reference to an actor (user, API key, or agent).
   */
  acknowledged_by: LightActor | null;

  /**
   * AgentAction represents a single action performed during an agent run.
   */
  action: AgentAction | null;

  /**
   * When this alert was created.
   */
  created_at: string;

  /**
   * A longer description of the alert.
   */
  message: string | null;

  /**
   * Additional metadata as JSON.
   */
  metadata: Array<unknown>;

  /**
   * The resource type identifier.
   */
  object: 'agent_alert';

  /**
   * AgentRun represents an execution instance of an agent.
   */
  run: RunsAPI.AgentRun | null;

  /**
   * The severity of the alert.
   */
  severity: 'info' | 'warning' | 'urgent' | 'critical';

  /**
   * The current status of the alert.
   */
  status: 'open' | 'acknowledged';

  /**
   * A short title for the alert.
   */
  title: string;

  /**
   * When this alert was last updated.
   */
  updated_at: string;
}

/**
 * LightActor is a lightweight reference to an actor (user, API key, or agent).
 */
export interface LightActor {
  /**
   * The unique identifier for the actor.
   */
  id: string;

  /**
   * The display name of the actor.
   */
  name: string | null;

  /**
   * The resource type identifier.
   */
  object: 'user|api_key|agent';
}

export interface AlertRetrieveParams {
  /**
   * Sub-objects to expand in the response. When omitted, sub-objects are returned as
   * `null`.
   */
  include?: Array<'run' | 'action'>;
}

export interface AlertListParams extends DefaultCursorPageParams {
  /**
   * Sub-objects to expand in the response. When omitted, sub-objects are returned as
   * `null`.
   */
  include?: Array<'run' | 'action'>;

  /**
   * Filter by severity.
   */
  severity?: 'info' | 'warning' | 'urgent' | 'critical';

  /**
   * Filter by alert status.
   */
  status?: 'open' | 'acknowledged';
}

Alerts.Actions = Actions;

export declare namespace Alerts {
  export {
    type AgentAction as AgentAction,
    type AgentAlert as AgentAlert,
    type LightActor as LightActor,
    type AgentAlertsDefaultCursorPage as AgentAlertsDefaultCursorPage,
    type AlertRetrieveParams as AlertRetrieveParams,
    type AlertListParams as AlertListParams,
  };

  export { Actions as Actions, type ActionAcknowledgeParams as ActionAcknowledgeParams };
}
